{
    "data_type": "mmap",
    "train_row_count": 1250000,
    "dev_row_count": 250000,
    "column_count": 680,
    "float_format": "float32",
    "int_format": "int32",

    "model": "biLSTM",
    "train_path": "/data/Quant_research/feature_data/data_set/Deep_Learning/Return/ti24/one_day_float1500/set_9/train",
    "dev_path": "/data/Quant_research/feature_data/data_set/Deep_Learning/Return/ti24/one_day_float1500/set_9/dev/dev_set.mm",
    "model_dir": "/home/alex/桌面/Python/Project/deep_learning/model_1",
    "score_folder": "/data/Quant_research/back_test/LSTM_model_1",
    "bt_config_path": "/home/alex/桌面/Python/Tools/Back_Test/configs/bt_config",

    "show_model_analysis": true,
    "suffix": "stock_trading",
    "tensorboard_suffix": "tensorboard",
    "save_model_every_n_iters": 10,
    "is_fit": true,
    "num_fit_target": 1,
    "is_classifier": true,
    "num_classes": 3,
    "task_weight": 0,

    "max_epochs": 50,
    "time_latent": 20,
    "batch_size": 256,
    "vector_dim": 680,
    "loops_for_each_reading": 1,
    "read_data_for_each_loop": false,
    "dropout_rate": 0.1,
    "learning_rate": 0.002,
    "optimize_type": "sgd",
    "lambda_l2": 0.00001,
    "grad_clipper": 5,

    "layer_num": 2,
    "lstm_dim": 40,
    "attention": true,

    "use_bottleneck": true,
    "num_residual_units": 4,

    "highway_layer_num": 1,
    "with_highway": false,

    "use_cudnn": false,
    "with_moving_average": false
}
